@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

body {
  font-family: Cabin;
}
#header {
  position: fixed;
  top: 0;
  width: 97.7%;
  background-color: #CD5C5C;
}
#navbar {
  float: right;
  display: block;
}
.nav-link {
  float: right;
  padding: 5px 5px 10px 5px;
  text-decoration: none;
  color: black;
}

#welcome-section {
  text-align: center;
  background-color: grey;
  color: black;
  display: block;
  height: 100vh;
  width: auto;
  margin-top: 50px;
}

#projects {
  text-align: center;
  background-color: #8FBC8F;
  padding: 10em;
}
#profile-link {
  text-decoration: none;
  color: red;
}
.project-tile {
  display: grid;
  padding: 2px;
  background-color: lightgray;
}

@media only screen and (orientation: landscape) {
  body {
    background-color: #FFEBCD;
  }
}